@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

body {
  background-image: url("background.webp");
  background-size: cover;

  font-family: "Catamaran", Courier, monospace;
  color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main {
  max-width: 1200px;
  flex-grow: 1;
  background-color: #414766;
  border-radius: 3px;
  box-shadow: 5px 5px 10px black;
  width: 100%;
}

a:link {
  color: aquamarine;
  text-decoration: none;
}

a:visited {
  color: #d584ee;
}

.pfp {
  background-image: url(pfp.png);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px black;
}

.heading {
  font-size: 50px;
  text-shadow: 3px 3px 6px black;
}

.columns {
  display: flex;
  flex-grow: 1;
  gap: 100px;
  padding: 25px;
  font-size: 16px;
  min-height: 150px;
}
.columns div:nth-child(n) {
  max-width: 550px;
  width: 100%;
}
