@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

body {
  background-image: url("background.webp");
  background-size: cover;

  font-family: "Catamaran", Courier, monospace;
  justify-content: center;
  display: flex;
}

main {
  max-width: 1200px;
  flex-grow: 1;
}
