@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

body {
  background-image: url("background.webp");
  background-size: cover;

  font-family: "Catamaran", Courier, monospace;
  color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 10px;
}

main {
  max-width: 1200px;
  background-color: #414766;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 10px;
  padding: 25px;
  font-size: 16px;
}

a:link {
  color: aquamarine;
  text-decoration: none;
}

a:visited {
  color: #d584ee;
}

p {
  margin-top: 0;
}

.pfp {
  background-image: url(pfp.png);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px black;
}

.heading {
  font-size: 50px;
  text-shadow: 3px 3px 6px black;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
}

.image.a {
  background-position: 10%;
  min-height: 300px;
  background-image: url(helloImage.webp);
}

.image.b {
  background-position: bottom right;
  background-image: url(point.webp);
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .image.a {
    background-position: center;
  }

  .image.b {
    display: none;
  }
}
